<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Cambia tu contraseña</title>
  </head>
  <body>
    <h1>Gallery Admin</h1>
    <p>Para restablecer tu contraseña, haz clic en el siguiente enlace:</p>
    <a href='{{resetPasswordUrl}}'>
      <h3>Restablecer contraseña</h3>
    </a>

    <small>Este enlace expirará en 1 hora.</small>

    <p>Si no solicitaste restablecer tu contraseña, ignora este mensaje.</p>
    <p>Gracias</p>

    <caption
      style='
      font-size: 12px;
      color: #999;
      margin-top: 20px;
      display: block;
    '
    >
      Este mensaje fue enviado por Gallery Admin
    </caption>
  </body>
</html>